<template>
  <div class="br-section-wrapper">
    <div class="row">
      <div class="col-sm-12" style="padding-left:0px; padding-right:0px;">
        <h6>Cұрақ мазмұны:</h6>
        <hr>
        <vue-editor v-model="content" :config="instructions.config.editor"/>
      </div>
    </div>

    <div class="row mg-t-20">
      <div class="col-sm-12">
        <div class="row">
          <div class="col-sm-12" style="padding-left:0px; padding-right:0px; float: right;">
            <button class="btn btn-info width-150" @click="saveQuestion">Сақтау</button>
            <button class="btn btn-transparent width-150" @click="$emit('close')">Жабу</button>
          </div>
        </div>
      </div>
    </div>

  </div>
</template>

<script>
import VueCkeditor from 'vue-ckeditor2';

//config
import instructionsInit from './../../../../../../../config/instructions/editor/addQuestion.json'
export default {
  props:[
    'bank', 'questionID'
  ],
  components: { 
    'vue-editor': VueCkeditor
  },
  data () {
    return {
      instructions: {},
      content : ""
    }
  },
  methods: {
    setup: function(){
      this.bank.forEach(element => {
        if(element.id == this.questionID){
          this.content = element.question
        }
      });
      this.instructions = instructionsInit
    },
    saveQuestion: function(){
      if(this.content != ''){
        this.bank.forEach(element => {
          if(element.id == this.questionID)
            element.question = this.content
        });
        this.$swal("Success!", "There cannot be emptysdvsdvsdv answer", "success", { button: "Aww yiss!"});
        this.$emit('close')
      }else{
        this.$swal("Error!", "There cannot be empty answer", "warning", { button: "Aww yiss!"});
      }
    }
  },
  created() {
    this.setup()
  }
}
</script>

<style scoped>
  .selector{
    margin-right: 10px;
    font-size: 18px;
    cursor: pointer;
  }
  .color--white{
    color:white !important;
    margin-top: 7px; 
  }
  .btn-transparent{
    background-color: transparent;
    cursor: pointer;
  }
</style>
