<template>
  <div class="br-pagebody mg-t-5 pd-x-30">
    <div class="br-section-wrapper">
      <div style="display:flex; flex-direction:row;">
        <div class="col-sm-4">
          <label for="labeltitle">Тақырып</label>
          <input
            type="text"
            v-model="forum.title"
            class="form-control"
            id="title"
            name="title"
            placeholder="Тақырып енгізіңіз"
          >
        </div>
        <div class="col-sm-4">
          <label>Тэг</label>
          <div>
            <multiselect
              v-model="forum.tags"
              tag-placeholder="Жаңа тэг ретінде қосу"
              placeholder="Тэг таңдаңыз"
              label="tag_name"
              track-by="tag_name"
              :options="optionTags"
              :multiple="true"
              :taggable="true"
              @tag="addTag"
            ></multiselect>
          </div>
        </div>
        <div class="col-sm-4">
          <label>Категория</label>
          <div>
            <multiselect
              v-model="forum.category"
              tag-placeholder="Жаңа категория ретінде қосу"
              placeholder="Категория таңдаңыз"
              label="category_name"
              track-by="name"
              :options="optionCategory"
              :multiple="false"
            ></multiselect>
          </div>
        </div>
      </div>
      <div class="col-sm-12 mg-t-15">
        <label for="labeldesctiption">Сипаттама</label>
        <vue-editor v-model="forum.description" name="description"/>
      </div>

      <div class="col-sm-12 text-right mg-t-15">
        <button
          class="btn btn-info width-150"
          type="submit"
          :disabled="forum.title==''||forum.description==''||forum.tags.length==0"
          @click="submit"
        >Жіберу</button>
      </div>
    </div>
  </div>
</template>
<script>
import {api} from '../../../../../main.js'
import Multiselect from "vue-multiselect";
import { forumBus } from "../../../../../main.js";
import VueCkeditor from "vue-ckeditor2";
import { error } from "util";
import router from "../../../../../router";
export default {
  data() {
    return {
      forum: {
        category: "",
        title: "",
        tags: [],
        description: ""
      },
      optionTags: [],
      optionCategory: []
    };
  },
  components: {
    Multiselect,

    "vue-editor": VueCkeditor
  },
    created() {
    this.$http.get(api+'/api/forum/categories').then(response=>
    {
      this.optionCategory=response.body.data.categories;
    }).catch(error=>{
      console.log(error);
    });
    this.$http.get(api+'/api/forum/tags').then(response=>
    { 
      this.optionTags=response.body.data.tags;
      console.log("xaax",response);
    }).catch(error=>{
      console.log(error);
    });
    },
  methods: {
    addTag(newTag) {
      const tag = {
        tag_name: newTag,
    
      };
     // this.optionTags.push(tag);
      this.forum.tags.push(tag);
    },
    /*
    addCategory(newCategory) {
      const category = {
        name: newCategory,
        id: newCategory.substring(0, 2) + Math.floor(Math.random() * 10000000)
      };
      this.optionCategory.push(category);
      this.forum.category=category;
    }
    
    ,
    */
    submit() {
      console.log("forum is",this.forum);
     
     this.$http
        .post("http://192.168.8.107:8000/api/forum/discussions", this.forum)
        .then(response => {
          console.log("creating",response);
          this.$swal("Керемет!", "Сіздің форум қосылды", "success", {
            button: "Ok!"
          });
          console.log(response.data.data.discussion.id)
          router.push({ name: "singleFaq" ,params:{singleForum:response.data.data.discussion.id}});
        })
        .catch(error => {
          this.$swal("Упс", "Бірдене дұрыс емес", "error", {
            button: "Ok!"
          });
          console.log(error);
        });
    
    }

  }
};
</script>
<style>
.multiselect__tag {
  background-color: #0866c6;
}
.multiselect__option--highlight {
  background: #0866c6;
}
.multiselect__option--highlight:after {
  content: attr(data-select);
  background: #0866c6;
  color: #fff;
}
.multiselect__tag-icon:focus,
.multiselect__tag-icon:hover {
  background: #0866c6;
}
.multiselect__tag-icon:after {
  content: "\D7";
  color: #fff;
  font-size: 14px;
}
</style>