<template>
  <div>
    
    <div class="br-pagebody mg-t-5 pd-x-30">
    <div class="br-section-wrapper">
        <div class="table-wrapper">
          <table
            id="datatable2"
            class="table display responsive nowrap"
            style="border:1px solid #dee2e6"
          >
            <thead>
              <tr>
                <th class="wd-60p">Тема</th>
                <th class="wd-15p">Қолданушылар</th>
                <th class="wd-5p">Жауаптар</th>
                <th class="wd-10p">Қаралымдар</th>
                <th class="wd-10p">Активность</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="forum in forums" @click="getData(forum.id)" style="cursor:pointer">
                <td v-if="forum.discussion_title.length<10">{{forum.discussion_title}}</td>
                <td v-else>{{forum.discussion_title.substring(1,10)}}  <i class="fa fa-ellipsis-h" style="color:#0866C6"></i></td>
                
                <td>Nixon</td>
                <td>System Architect</td>
                <td>2011/04/25</td>
                <td>$320,800</td>
              </tr>
            </tbody>
          </table>
        </div>
        
        <!-- table-wrapper -->
      </div>
    </div>
  </div>
</template>
<script>
import {api} from '../../../../../main.js'
import router from "../../../../../router";
import { forumBus } from "../../../../../main.js";
import { commentBus } from "../../../../../main.js";
export default {
  props:['filter'],
  created() {
  

      //console.log("zaebis",this.$route.params.cat)
      this.category_id=localStorage.getItem('category_id');
      if(this.category_id==0){
        this.getGeneral();  
      }
      else{
        this.getForum();
      
      }
      this.tags=JSON.parse(localStorage.getItem("tags"));
  },
  watch:{
    filter:{
      handler(){
        this.tags=JSON.parse(localStorage.getItem("tags"));
        this.category=localStorage.getItem('category');
        console.log("allsection",this.allSection);
        console.log("finalallSection",this.finalAllSection);
        console.log("category",this.category)
        this.finalAllSection=[];
        
        
        if(this.category=='all' && this.tags==null){
            this.finalAllSection=this.allSection;
          }
        else if(this.category!='all'&&this.tags==null){
          for(var i=0;i<this.allSection.length;i++){
            if(this.allSection[i].category.name==this.category){
              this.finalAllSection.push(this.allSection[i]);
            }
          }
        }
        else if(this.category=='all' &&this.tags!=null){
         console.log(this.allSection.length)
         var z=false;
         for(var x=0;x<this.allSection.length;x++){
               for(var k=0;k<this.allSection[x].tag.length;k++){
                 if(this.allSection[x].tag[k].name==this.tags.name){
                   this.finalAllSection.push(this.allSection[x]);
                  
                 }
             
             }
          }
        }
        else if(this.category!='all' && this.tags!=null){
         
          for(var i=0;i<this.allSection.length;i++){
            if(this.allSection[i].category.name==this.category){
                 console.log("malwws")      
               for(var k=0;k<this.allSection[i].tag.length;k++){
                 if(this.allSection[i].tag[k].name==this.tags.name){
                   this.finalAllSection.push(this.allSection[i]);
                 }
                
               }
             
            }
          }
        }
        else{
          console.log("malww")
        }
          
      },deep:true
    }
  },
  data() {
    return {
      tags:[],
      category_id:null,
      pluss: 0,
      allSection: [],
      forums: [],
      username: "Kurma",
      plusSigned: [],
      section: [
        {
          category: "",
          description: ""
        }
      ]
    };
  },
  methods: {
    getGeneral(){
      this.$http
        .get(api+'/api/forum/discussions/')
        .then(response => {
         // console.log("forums are",response);
          this.forums=response.body.data.discussions
        })
    },
    getForum() {
      this.$http
        .get(api+'/api/forum/categories/'+this.category_id)
        .then(response => {
         // console.log("forums are",response);
          this.forums=response.body.data.discussions
        })/*
        .then(data => {
          var i = 0;
          for (let key in data) {
            this.allSection[i] = data[key];
            i++;
          }
          if(this.category=='all'){
            this.finalAllSection=this.allSection;
          }
          else{
          for(var i=0;i<this.allSection.length;i++){
            if(this.allSection[i].category.name==this.category){
              this.finalAllSection.push(this.allSection[i]);
            }
          }

          }
        });
        */
    },
    getData(id) {
      router.push({name:'singleFaq',params:{singleForum:id}});
     
    }
 
  }

};
$(function() {
  "use strict";

  $("#datatable2").DataTable({
    bLengthChange: false,
    searching: false,
    responsive: true
  });

  // Select2
  $(".dataTables_length select").select2({ minimumResultsForSearch: Infinity });
});
</script>
<style scoped>
/*
    @import "../../../../../assets/lib/Ionicons/css/ionicons.css" ;
 @import   "../../../../../assets/lib/perfect-scrollbar/css/perfect-scrollbar.css"; 
@import    "../../../../../assets/lib/font-awesome/css/font-awesome.css";
  @import  "../../../../../assets/lib/jquery-switchbutton/jquery.switchButton.css" ;
 @import   "../../../../../assets/lib/highlightjs/github.css" ;
 @import   ".../../../../../assets/lib/datatables/jquery.dataTables.css" ;
  @import  "../../../../../assets/lib/select2/css/select2.min.css" ;

*/    

</style>
