<template>
  <div>
    <div class="br-pagebody mg-t-5 pd-x-30">
      <p>{{categories}}</p>
      <div style="display:flex;flex-direction:row;margin-bottom:-24px;">
        <div
          style="width:49%;margin-left:6px;display:flex;flex-direction:row;justify-content:space-between;"
        >
          <p>section</p>
          <p style="padding-right:6px;">topics</p>
        </div>
        <div style="width:49%;margin-left:2%;">lasts</div>
      </div>
      <div style="display:flex;flex-direction:row;">
        <div style="width:49%;margin-right:2%;">
                    <div
            class="card bd-0 shadow-base"
            style="border-left:6px solid;border-color: #12A89D;margin-top:10px;cursor:pointer"
      
          >
            <h6
              class="mg-b-2 tx-inverse tx-20"
              style="margin:20px 20px 0px 20px"
               @click="go(0)"
            >General</h6>

            <div class="media pd-20">
              <p>sdfsdf</p>
              <div class="media-body mg-l-20">
                <div class="d-flex justify-content-between mg-b-10">
                  <div></div>
                  <span class="tx-12">3 hours ago</span>
                </div>
              </div>
            </div>
          </div>
          <div
            class="card bd-0 shadow-base"
            style="border-left:6px solid;border-color: #12A89D;margin-top:10px;cursor:pointer"
           v-for="category in categories"
            @click="go(category.id)"
          >
            <h6
              class="mg-b-2 tx-inverse tx-20"
              style="margin:20px 20px 0px 20px"
            >{{category.category_name}}</h6>

            <div class="media pd-20">
              <p>{{category.category_description}}</p>
              <div class="media-body mg-l-20">
                <div class="d-flex justify-content-between mg-b-10">
                  <div></div>
                  <span class="tx-12">3 hours ago</span>
                </div>
              </div>
            </div>
          </div>

        </div>

        <div class="card bd-0 shadow-base" style="margin-top:10px;width:49%;">
          <div
            class="row"
            style="border-bottom: 1px solid #e9e9e9; display:flex;flex-direction:row;align-items: center;"
           
          >
            <img
              src="http://via.placeholder.com/280x280"
              alt
              class="ht-40 wd-40 rounded-circle mg-l-30"
            >
            <div  class="col-sm-8 mg-t-10" style="display:flex;flex-direction:column;">
              <p style="color:black;">
                abdbsvckjvsdbcs
                dcmsdkvan adjnflabf
                попппгигвис гиясигяс ятсоячсдисдвяг
              </p>
              <div style="margin-bottom:-16px; display:flex;flex-direction:row;">
                <div style="display:flex;flex-direction:row;">
                <span class="wd-7 ht-7" style="background-color: #8C6238;"></span>
                <p style="font-weight:bold;color:black; margin-right:5px;">help</p>
                </div>
                <div style="display:flex;flex-direction:row;alighn-items:center;">
                <span class="wd-7 ht-7" style="background-color: #8C6238;"></span>
                <p style="font-weight:bold;color:black; margin-right:5px;">help</p>
                </div>
              </div>
              <div>
                <p>js</p>
              </div>
            </div>
            <div class="media-body col-sm-2 mg-t-10">
              <div class="d-flex justify-content-between mg-b-10">
                <div></div>
                <span class="tx-12">3 hours ago</span>
              </div>
            </div>
          </div>
            <div
            class="row"
            style="border-bottom: 1px solid #e9e9e9; display:flex;flex-direction:row;align-items: center;"
           
          >
            <img
              src="http://via.placeholder.com/280x280"
              alt
              class="ht-40 wd-40 rounded-circle mg-l-30"
            >
            <div  class="col-sm-8 mg-t-10" style="display:flex;flex-direction:column;">
              <p style="color:black;">
                abdbsvckjvsdbcs
                dcmsdkvan adjnflabf
                попппгигвис гиясигяс ятсоячсдисдвяг
              </p>
              <div style="margin-bottom:-16px; display:flex;flex-direction:row;">
                <div style="display:flex;flex-direction:row;">
                <span class="wd-7 ht-7" style="background-color: #8C6238;"></span>
                <p style="font-weight:bold;color:black; margin-right:5px;">help</p>
                </div>
                <div style="display:flex;flex-direction:row;alighn-items:center;">
                <span class="wd-7 ht-7" style="background-color: #8C6238;"></span>
                <p style="font-weight:bold;color:black; margin-right:5px;">help</p>
                </div>
              </div>
              <div>
                <p>js</p>
              </div>
            </div>
            <div class="media-body col-sm-2 mg-t-10">
              <div class="d-flex justify-content-between mg-b-10">
                <div></div>
                <span class="tx-12">3 hours ago</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import {api} from '../../../../../main.js'
import router from "../../../../../router";
import { forumBus } from "../../../../../main.js";
import { commentBus } from "../../../../../main.js";
export default {
  created() {
        this.$emit("changed")
        this.$http.get(api+'/api/forum/categories').then(response=>
    {
      this.categories=response.body.data.categories;
    }).catch(error=>{
      console.log(error);
    });
    this.getForum();

  },
  props:{filter:Object},
  data() {
    return {
      categories:[],
      filtered:[],
      pluss: 0,
      allSection: [],
      finalAllSection: [],
      username: "Kurma",
      plusSigned: [],
      section: [
        {
          category: "",
          description: ""
        }
      ]
    };
  },
  watch:{
    filter: {
      handler(val){

    }
  }},
  methods: {

      xa(){
        return this.filter
        console.log(this.filter)
      },
      go(id){
          console.log(id)
          localStorage.setItem('category_id',id)
          //this.$emit('categorywws',category)
          router.push({name:'listFaq'});
      },
    getForum() {
      this.$http
        .get("https://example-1ba92.firebaseio.com/forum.json")
        .then(response => {
          console.log(response);
          return response.json();
        })
        .then(data => {
          var i = 0;
          for (let key in data) {
            this.allSection[i] = data[key];
            i++;
          }

          this.finalAllSection = this.allSection;
          this.allSection=this.finalAllSection
        });

},


  }
 
};
</script>
