<template>
  <div>
    
    <div class="br-section-wrapper" style="width:89%;margin-left:30px">
      <div style="width:84.5%">
        <h6 class="mg-b-2 tx-inverse tx-20" style="margin:0px 20px 10px 20px">{{forum.discussion.discussion_title}}</h6>
        <hr>
        <div class="media pd-20">
          <img src="http://via.placeholder.com/280x280" alt class="wd-40 rounded-circle">
          <div class="media-body mg-l-20">
            <div class="d-flex justify-content-between mg-b-10">
              <div>
                <h6 class="mg-b-2 tx-inverse tx-14">Kongratbayedv Kurmangazy</h6>
                <span class="tx-12 tx-gray-500">mc@gmail.com</span>
              </div>
              <span class="tx-12">3 hours ago</span>
            </div>
            <p class="mg-b-20" v-html="forum.discussion.discussion_description">{{forum.discussion.discussion_description}}</p>
            <div class="media-footer">
              <div>
           
                
                <a href="javascript:void(0)" @click="like">
                  <i class="fas fa-thumbs-up" v-if="forum.likes!=null">{{forum.likes.total}}</i>
                  <i class="fas fa-thumbs-up" v-else></i>
                </a>
                 <a href="javascript:void(0)" style="margin-left:10px" @click="dislike">
                  <i class="fas fa-thumbs-down" v-if="forum.dislikes!=null">{{forum.dislikes.total}}</i>
                  <i class="fas fa-thumbs-down" v-else></i>
                </a>
                <a href="javascript:void(0)" class="mg-l-10" @click="show">
                  <i class="fa fa-comment"></i>
                </a>
              </div>
            </div>
          </div>
          
        </div>
        <div v-if="showcomment" style="width:80%;margin-left:20%;">
            <vue-editor v-model="comment.description"/>
             <button class="btn btn-info" style="width:10%;margin-left:90%;margin-top:10px"  @click.prevent="submit" >Жіберу</button>
          </div>
        <hr>
        <div class="row" style="background:#f8f8f8;height:50;border-radius:2px;margin-left:0px">
          <div class="col-sm-2">
            <span>Создано</span>
            <h5>{{forum.discussion.created_at }}</h5>
          </div>
          <div class="col-sm-2">
            <span>Последний ответ</span>
            <h5>1час назад</h5>
          </div>
          <div class="col-sm-2" style>
            <span>Ответы</span>
            <h5>30</h5>
          </div>
          <div class="col-sm-3">
            <span>Просмотров</span>
            <h5>9,2 тыс</h5>
          </div>
          <div class="col-sm-2">
            <span>Пользователь</span>
            <h5>31</h5>
          </div>
        </div>
        <hr>
        
        <div class="media pd-20" v-for="(comment,index) in forum.commentsNull" >
        
          <img src="http://via.placeholder.com/280x280" alt class="wd-40 rounded-circle">
          <div class="media-body mg-l-20">
            <div class="d-flex justify-content-between mg-b-10">
              <div>
                <h6 class="mg-b-2 tx-inverse tx-14">Baltabekov Yedige</h6>
                <span class="tx-12 tx-gray-500">mc@gmail.com</span>
              </div>
              <span class="tx-12">55 minutes ago</span>
            </div>
            <p class="mg-b-20" v-html="comment.comment_description">{{comment.comment_description}}</p>
            <div class="media-footer">
              <div>
                <a href="javascript:void(0)" class="mg-l-10">
                  <i class="fa fa-comment" @click="showsubcommentEditor(index,forum.commentsNull[index].id)"></i>
                </a>
                
                <a href="javascript:void(0)" class="mg-l-10" v-if="comment.commentsNotNull.length>0"  @click="showsubcomments(index,forum.commentsNull[index].id)">
                  <i class="fa fa-ellipsis-h"></i>
                </a>
          
          <div v-if="sub==index && showsubcommentdiv==false" style="width:80%;margin-left:20%;">
            <vue-editor v-model="subComment.description"/>
             <button class="btn btn-info" style="width:10%;margin-left:80%;margin-top:10px"  @click.prevent="subCommentSubmit" >Жіберу</button>
          </div>
              <div class="media pd-20" v-if="showsubcommentdiv &&sub==index " v-for="(subc,j) in forum.commentsNull[index].commentsNotNull" >
        
          <img src="http://via.placeholder.com/280x280" alt class="wd-40 rounded-circle">
          <div class="media-body mg-l-20">
            <div class="d-flex justify-content-between mg-b-10">
              <div>
                <h6 class="mg-b-2 tx-inverse tx-14">Baltabekov Yedige</h6>
                <span class="tx-12 tx-gray-500">mc@gmail.com</span>
              </div>
              <span class="tx-12">55 minutes ago</span>
            </div>
            <p class="mg-b-20" v-html="subc.comment_description">{{subc.comment_description}}</p>
            
            </div>
            <hr>
      
        </div>
          </div>
              </div>
            </div>
            <hr>
      
        </div>
      </div>
      </div>
    </div>
  

</template>
<script>
import VueCkeditor from "vue-ckeditor2";
import {api} from '../../../../../main.js'
export default {
  components: {
    "vue-editor": VueCkeditor

  },
  data() {
    return {
      comment:{
        forum_id:null,
        description: "",
        parent_id:null
      },
      subComment:{
         forum_id:null,
        description: "",
        parent_id:null
      },
      showsubcommentdiv:false,
      
      sub:null,
      forum:{
      },
      
      showcomment:false,
      plusSigned: [],
      plussed:0,
      username: "dsf",
      comments: [],
      
      forum: {}
    };
  },

  created() {
    this.subComment.forum_id = this.$route.params.singleForum;
    this.comment.forum_id = this.$route.params.singleForum;
    this.get();
    console.log("xaxa", this.$route.params.singleForum);
  },
  methods: {
    like(){
      this.$http.post(api+"/api/forum/discussions/"+this.comment.forum_id+"/like/"+true).then(
        response=>{console.log("like ",response);
        this.get();
        }
      ).catch(error=>
      console.log(error)
      )
    },
    dislike(){
        this.$http.post(api+"/api/forum/discussions/"+this.comment.forum_id+"/like/"+false).then(
        response=>{
          this.get();
          console.log("dislike ",response)
        }
      ).catch(error=>
      console.log(error)
      )
    },
    showsubcommentEditor(i,parent_id){
      this.sub=i;
      this.subComment.parent_id=parent_id
      console.log("parent",parent_id)
      this.showsubcommentdiv=false;
    },
 showsubcomments(i,parent_id){
      this.sub=i;
      this.subComment.parent_id=parent_id
      this.showsubcommentdiv=true;
      console.log("parent",parent_id)
      
    },
    subCommentSubmit(){
            console.log("subcomment",this.subComment);
      this.$http.post(api+'/api/forum/comments',this.subComment).then(
        response=>{console.log(response);
        this.get();
            this.$swal("Керемет!", "Сіздің коментарий қосылды", "success", {
            button: "Ok!"
          });
          }
      ).catch(error=>{
         this.$swal("Упс", "Бірдене дұрыс емес", "error", {
            button: "Ok!"
          });
        console.log(error)})
      this.showsubcommentdiv=false
    },
    get(){
       this.$http
        .get(api+"/api/forum/discussions/"+this.comment.forum_id)
        .then(response => {
         this.forum=response.body.data;
        console.log("forum is",this.forum);
        })
    },
    show() {
      this.showcomment=!this.showcomment;
    },
    submit(){
      console.log("comment",this.comment);
      this.$http.post(api+'/api/forum/comments',this.comment).then(
        response=>{console.log(response);
        this.get();
            this.$swal("Керемет!", "Сіздің коментарий қосылды", "success", {
            button: "Ok!"
          });
          }
      ).catch(error=>{
         this.$swal("Упс", "Бірдене дұрыс емес", "error", {
            button: "Ok!"
          });
        console.log(error)})
    this.showcomment=false;
    }
  }
};
</script>
<style scoped>
a:hover {
    color: #0866c6;
    text-decoration: none;
}
</style>