<template>
  <div>
    <left-menu></left-menu>
    <top-menu></top-menu>
    <right-menu></right-menu>
    <div class="br-mainpanel">
      <div class="pd-30">
        <h4 class="tx-gray-800 mg-b-5">Календарь</h4>
        <!-- <p class="mg-b-0">Do big things with Bracket, the responsive bootstrap 4 admin template.</p>-->
      </div>

      <div class="br-pagebody mg-t-5 pd-x-30">
        <div class="demo-container">
          <dx-scheduler
            :data-source="dataSource"
            :current-date="currentDate"
            :views="views"
            :height="900"
            :start-day-hour="9"
            :end-day-hour="19"
            :remote-filtering="true"
            current-view="week"
          >
            <dx-resource
              :allow-multiple="true"
              :data-source="resourcesData"
              :use-color-as-default="true"
              field-expr="ownerId"
              label="Участники"
            />
          </dx-scheduler>
        </div>
      </div>

      <footer class="br-footer">
        <div class="footer-left">
          <div class="mg-b-2">EDU Con.kz &copy; 2019.</div>
          <div>The slogan.</div>
        </div>
      </footer>
    </div>
  </div>
</template>
<script>
import LeftMenu from "./../../components/Editor/PageComponents/Menus/Left.vue";
import TopMenu from "./../../components/Editor/PageComponents/Menus/Top.vue";
import RightMenu from "./../../components/Editor/PageComponents/Menus/Right.vue";
import { DxScheduler, DxResource } from "devextreme-vue/scheduler";
import * as AspNetData from "devextreme-aspnet-data-nojquery";
import "../../assets/js/shim.min.js";
import ruMessages from "devextreme/localization/messages/ru.json";
import { locale, loadMessages, formatMessage } from "devextreme/localization";
import "devextreme-intl";
const url = "https://js.devexpress.com/Demos/Mvc/api/SchedulerData";
import { data, priorityData, resourcesData } from "./data.js";
export default {
  components: {
    "top-menu": TopMenu,
    "left-menu": LeftMenu,
    "right-menu": RightMenu,
    DxScheduler,
    DxResource
  },

  data() {
    return {
      views: ["day", "week", "month"],
      currentDate: new Date(2017, 4, 23),
      dataSource: [],
      resourcesData: resourcesData
    };
  },
  /*
  watch: {
    dataSource(val){
      console.log("watch")
      localStorage.setItem("calendar",JSON.stringify(this.dataSource))
    }
  }
  ,*/
  created() {
    //this.dataSource=this.dataSource[1];
    //console.log(this.dataSource)
    if (JSON.parse(localStorage.getItem("calendar"))) {
      var t = localStorage.getItem("calendar");
      this.dataSource = JSON.parse(t);
      this.dataSource[0].startDate=new Date(this.dataSource[0].startDate);
      var syear=this.dataSource[0].startDate.getFullYear();
      var smonth=this.dataSource[0].startDate.getMonth();
      var sday=this.dataSource[0].startDate.getDay();
      var shour=this.dataSource[0].startDate.getHours();
      var sminute=this.dataSource[0].startDate.getMinutes()
      this.dataSource[0].startDate =new Date(syear,smonth,sday,shour,sminute);
      //console.log(syear,smonth,sday,shour,sminute);
    
      this.dataSource[0].endDate=new Date(this.dataSource[0].endDate);
      var eyear=this.dataSource[0].endDate.getFullYear();
      var emonth=this.dataSource[0].endDate.getMonth();
      var eday=this.dataSource[0].endDate.getDay();
      var ehour=this.dataSource[0].endDate.getHours();
      var eminute=this.dataSource[0].endDate.getMinutes()
      this.dataSource[0].endDate=new Date(eyear,emonth,eday,ehour,eminute),
      //console.log(new Date(this.dataSource[1].StartDate));
      //this.dataSource[1].StartDate = new Date(2017,5,2,9,10);
      //this.dataSource[1].EndDate = new Date(2017,5,2,9,30);
      console.log("za", this.dataSource);
      /*
    for(let i=0;i<this.dataSource.length;i++){
      this.dataSource[i].StartDate=new Date(this.dataSource[i].StartDate);
      console.log(this.dataSource[i].StartDate);
      this.dataSource[i].StartDate=new Date(this.dataSource[i].StartDate.getFullYear(),this.dataSource[i].StartDate.getMonth(),
      this.dataSource[i].StartDate.getDay(),this.dataSource[i].StartDate.getHours(),this.dataSource[i].StartDate.getMinutes());
      //  this.dataSource[i].EndDate=new Date(this.dataSource[i].EndDate.getFullYear(),this.dataSource[1].EndDate.getMonth(),
      // this.dataSource[1].EndDate.getDay(),this.dataSource[1].EndDate.getHours(),this.dataSource[1].EndDate.getMinutes());
      //
      //this.dataSource[i].EndDate=new Date(this.dataSource[i].EndDate);
    }
    */
      //this.dataSource[1].StartDate=new Date(this.dataSource[1].StartDate);
      //console.log("all", this.dataSource[1].StartDate);
      //console.log("xaxa", this.dataSource[1].StartDate.getFullYear());
    } 
    else {
      this.dataSource = [{
    'text': 'Google AdWords Strategy',
    'ownerId': [2],
    'startDate': new Date(2017, 4, 1, 9, 0),
    'endDate': new Date(2017, 4, 1, 10, 30),
    'priority': 1
  }];
  localStorage.setItem("calendar",JSON.stringify(this.dataSource))
      console.log(this.dataSource);
    }

    console.log("created");
    sessionStorage.setItem("locale", "ru");
    this.initMessages();
  },
  methods: {
    initMessages() {
      loadMessages(ruMessages);
    }
  }
};
</script>
<style scoped>
@import "./../../assets/css/dx.common.css";
@import "./../../assets/css/dx.light.css";
</style>