<template>
  <div>
    <left-menu></left-menu>
    <top-menu></top-menu>
    <right-menu></right-menu>
    <div class="br-contentpanel">
      <div class="pd-x-20 pd-sm-x-30 pd-t-20 pd-sm-t-30">
        <h4 class="tx-gray-800 mg-b-5">Форум</h4>
        <p
          class="mg-b-0"
        >Бұл жерде сайтпен байланысты сұрақтар немесе қиындық туындаса форум ашып талқылауымызға болады
 
        </p>
      </div>
      <div class="pd-10 mg-l-20 mg-t-20">
        <div style="display:flex;flex-direction:row;">
          <multiselect
            style="width:200px"
            v-model="filter.category"
            placeholder="Категория таңдаңыз"
            label="category_name"
            track-by="id"
            :options="optionCategory"
          ></multiselect>
          <div class="mg-t-20 mg-l-20 mg-lg-t-0" style="width:400px;">
            <multiselect
              v-model="filter.tag"
              placeholder="Тэгтерді таңдаңыз"
              label="tag_name"
              track-by="id"
              :options="optionTag"
              :multiple="false"
            ></multiselect>
          </div>

          <ul class="nav nav-pills flex-column flex-md-row mg-l-20" role="tablist">
            <li class="nav-item" style="color:#fff">
              <a
                class="nav-link"
                data-toggle="tab"
                style="cursor:pointer;color:#868ba1"
                role="tab"
                aria-expanded="false"
              >
                <router-link to="/editor/faqs/listCategoryFaq" id="xa" exact>Разделы</router-link>
              </a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                data-toggle="tab"
                style="cursor:pointer"
                role="tab"
                aria-expanded="false"
              >About</a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                data-toggle="tab"
                style="cursor:pointer"
                role="tab"
                aria-expanded="false"
              >Features</a>
            </li>
          </ul>
          <router-link :to="{ name: 'Create'}" tag="a" class="br-menu-link">
            <button class="btn btn-info" style="position:absolute;right:150px;">
              <i class="fas fa-plus mg-r-10"></i>Форум қосу
            </button>
          </router-link>
        </div>
      </div>
      <div>
        <router-view :filter="filter" @categorywws="xaxa" ></router-view>
      </div>

      <footer class="br-footer">
        <div class="footer-left">
          <div class="mg-b-2">Copyright &copy; 2017. Bracket. All Rights Reserved.</div>
          <div>Attentively and carefully made by ThemePixels.</div>
        </div>
        <div class="footer-right d-flex align-items-center">
          <span class="tx-uppercase mg-r-10">Share:</span>
          <a
            target="_blank"
            class="pd-x-5"
            href="https://www.facebook.com/sharer/sharer.php?u=http://themepixe.."
          >
            <i class="fa fa-facebook tx-20"></i>
          </a>
          <a
            target="_blank"
            class="pd-x-5"
            href="https://twitter.com/home?status=Bracket, your best choice for.."
          >
            <i class="fa fa-twitter tx-20"></i>
          </a>
        </div>
      </footer>
    </div>
  </div>
</template>
<script>
import {api} from "../../main.js"
import router from "../../router/index.js";
import Multiselect from "vue-multiselect";
import LeftMenu from "./../../components/Editor/PageComponents/Menus/Left.vue";
import TopMenu from "./../../components/Editor/PageComponents/Menus/Top.vue";
import RightMenu from "./../../components/Editor/PageComponents/Menus/Right.vue";
export default {
  name: "MainFaq",
  data() {
    return {

      optionCategory: [],
      optionTag: [],
      filter: {
        category: "",
        tag: []
      },
      allSection: []
    };
  },
  watch:{
    filter: {
      handler(val){
        console.log(val);
        if(val.category.name==undefined){

        }
        else{
            localStorage.setItem('tags',JSON.stringify(val.tag));
            localStorage.setItem('category',val.category.name)
            router.push({name:'listFaq',params:{cat:val.category.name}});
        }
      },deep:true

  }},
  methods: {
    xaxa(val) {
      this.filter.category = val;
      console.log(val);
    }
  },
  components: {
    Multiselect,
    "top-menu": TopMenu,
    "left-menu": LeftMenu,
    "right-menu": RightMenu
  },
  created() {
    this.$http.get(api+'/api/forum/categories').then(response=>
    {
      this.optionCategory=response.body.data.categories;
    }).catch(error=>{
      console.log(error);
    });
    this.$http.get(api+'/api/forum/tags').then(response=>
    { 
      this.optionTag=response.body.data.tags;
      console.log("xaax",response);
    }).catch(error=>{
      console.log(error);
    });
    $(document).ready(function() {
      $(".br-contentpanel").css("margin-left", "300px");
    });
  }
};
$(document).ready(function() {
  $("#btnLeftMenu").on("click", function() {
    $(".br-contentpanel").css("margin-left", "300px");
  });
});
</script>
<style>
#xa:hover {
  color: #fff;
  text-decoration: none;
}
a:hover {
  color: #fff;
  text-decoration: none;
}
.nav-pills .nav-link.active,
.nav-pills .nav-link.active:hover,
.nav-pills .nav-link.active:focus {
  color: #fff;
  background-color: #17a2b8;
}
.multiselect__tag {
  background-color: #0866c6;
}
.multiselect__option--highlight {
  background: #0866c6;
}
.multiselect__option--highlight:after {
  content: attr(data-select);
  background: #0866c6;
  color: #fff;
}
.multiselect__tag-icon:focus,
.multiselect__tag-icon:hover {
  background: #0866c6;
}
.multiselect__tag-icon:after {
  content: "\D7";
  color: #fff;
  font-size: 14px;
}
</style>