<template>
  <div>
    <left-menu></left-menu>
    <top-menu></top-menu>
    <right-menu></right-menu>
    <div class="br-mainpanel">
      <div class="pd-30">
        <h4 class="tx-gray-800 mg-b-5">Тақырыптар</h4>
        <!-- <p class="mg-b-0">Do big things with Bracket, the responsive bootstrap 4 admin template.</p>-->
      </div>

      <div class="br-pagebody mg-t-5 pd-x-30">
                <div class="demo-container">

        <div id="tree-list"></div>
    </div>
      </div>

      <footer class="br-footer">
        <div class="footer-left">
          <div class="mg-b-2">EDU Con.kz &copy; 2019.</div>
          <div>The slogan.</div>
        </div>
      </footer>
    </div>
  </div>
</template>
<script>
import LeftMenu from "./../../components/Editor/PageComponents/Menus/Left.vue";
import TopMenu from "./../../components/Editor/PageComponents/Menus/Top.vue";
import RightMenu from "./../../components/Editor/PageComponents/Menus/Right.vue";
//import '../../assets/js/dx.aspnet.data.js';
//import '../../../node_modules/devextreme/dist/js/dx.all.js';
//import '../../../node_modules/devextreme-aspnet-data/js/dx.aspnet.data.js';
//import '../../../node_modules/jquery/dist/jquery.min.js';

export default {
  components: {
    "top-menu": TopMenu,
    "left-menu": LeftMenu,
    "right-menu": RightMenu
  }
};


$(function() {
  var url = "https://js.devexpress.com/Demos/Mvc/api/TreeListTasks";
  $("#tree-list").dxTreeList({
    dataSource: DevExpress.data.AspNet.createStore({
      key: "Task_ID",
      loadUrl: url + "/Tasks",
      insertUrl: url + "/InsertTask",
      updateUrl: url + "/UpdateTask",
      deleteUrl: url + "/DeleteTask",
      onBeforeSend: function(method, ajaxOptions) {
        ajaxOptions.xhrFields = { withCredentials: true };
      }
    }),scrolling: {
            mode: "standard"
        },
        paging: {
            enabled: true,
            pageSize: 10
        },
        pager: {
            showPageSizeSelector: true,
            allowedPageSizes: [5, 10, 20],
            showInfo: true
        },
    remoteOperations: {
      filtering: true,
      sorting: true,
      grouping: true
    },
    parentIdExpr: "Task_Parent_ID",
    hasItemsExpr: "Has_Items",
    expandedRowKeys: [1, 2],
    searchPanel: {
      visible: true
    },
    headerFilter: {
      visible: true
    },
    editing: {
      mode: "row",
      allowAdding: true,
      allowUpdating: true,
      allowDeleting: true
    },
    showRowLines: true,
    showBorders: true,
    columnAutoWidth: true,
    wordWrapEnabled: true,
    columns: [
      {
        dataField: "Task_Subject",
        caption:'Тақырып',
        minWidth: 250,
        validationRules: [{ type: "required" }]
      },
      {
        dataField: "Task_Assigned_Employee_ID",
        caption: "Автор",
        minWidth: 120,
        lookup: {
          dataSource: DevExpress.data.AspNet.createStore({
            key: "ID",
            loadUrl: url + "/TaskEmployees"
          }),
          valueExpr: "ID",
          displayExpr: "Name"
        },
        validationRules: [{ type: "required" }]
      },
      {
        dataField: "Task_Status",
        caption: "Статус",
        minWidth: 120,
        lookup: {
          dataSource: [
            "Not Started",
            "Need Assistance",
            "In Progress",
            "Deferred",
            "Completed"
          ]
        }
      },
      
    ],
    onInitNewRow: function(e) {
      e.data.Task_Status = "Not Started";

    }
  });
    
});

</script>

<style>


</style>