<template>
     <div class="br-section-wrapper">
    <div class="row">
      <div class="col-sm-12" style="padding-left:0px; padding-right:0px;">
        <div v-html="question"></div>
        <div class="row mg-t-20">
          <div class="col-sm-12" v-for="(answer,index) in answers">
            <div class="row">
              <div class="col-sm-1 text-center">
                <label class="rdiobox" style="margin-top:2px;">
                  <input name="rdio" type="radio">
                  <span>{{variants[index]}}</span>
                </label>
              </div>
              <div class="col-sm-9" v-html="answer.content"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mg-t-30">
      <div class="col-sm-12">
        <div class="row">
          <div class="col-sm-12 text-right">
          
            <button class="btn btn-info width-150" >Check many </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default{
    data () {
    return {
      variant:'',
      question:'',
      answers:[],
      variants: ['A) ', 'B) ', 'C) ', 'D) ', 'E) ', 'F) ', 'G) ', 'H) ', 'I) ', 'J) ']
    }
  },
    created() {
      this.variant=localStorage.getItem("qtype");
      this.question=localStorage.getItem("question");
      this.answers=JSON.parse(localStorage.getItem("answers"));
        
  },
}
</script>
<style>
</style>