<template>
  <div class="br-section-wrapper">
    <div class="row">
      <div class="col-sm-12" style="padding-left:0px; padding-right:0px;">
        <div v-html="question"></div>
        <div class="row mg-t-20">
          <div class="col-sm-12">
            <div class="row">
              <div class="col-sm-1 text-center">
                <label class="rdiobox" style="margin-top:2px;">
                  <input name="rdio" type="radio" value="true" v-model="trueAnswer">
                  <span>{{variants[0]}}</span>
                </label>
              </div>
              <div class="col-sm-9">True</div>
            </div>
            <div class="row">
              <div class="col-sm-1 text-center">
                <label class="rdiobox" style="margin-top:2px;">
                  <input name="rdio" type="radio" value="false" v-model="trueAnswer">
                  <span>{{variants[1]}}</span>
                </label>
              </div>
              <div class="col-sm-9">False</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mg-t-30">
      <div class="col-sm-12">
        <div class="row">
          <div class="col-sm-12 text-right">
            <button class="btn btn-info width-150" @click="test">Check trueFalse</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      variant: "",
      question: "",
      answers: [],
      trueAnswer: null,
      variants: [
        "A) ",
        "B) ",
        "C) ",
        "D) ",
        "E) ",
        "F) ",
        "G) ",
        "H) ",
        "I) ",
        "J) "
      ]
    };
  },
  created() {
    this.variant = localStorage.getItem("qtype");
    this.question = localStorage.getItem("question");
    this.answers = JSON.parse(localStorage.getItem("answers"));
  },
  methods: {
    test() {
      console.log(this.trueAnswer)
      if (this.trueAnswer == ""+this.answers) {
        swal({
          title: "Дұрыс!",
          text: "Сіз дұрыс жауап бердіңіз",
          icon: "success",
          button: "Түсінікті!"
        });
      } else {
        swal({
          title: "Қате!",
          text: "Сіз қате жауап бердіңіз",
          icon: "error",
          button: "Түсінікті!"
        });
      }
    }
  }
};
</script>
<style>
</style>